body{
	line-height: 0.5;
	color: #58595b;
	font-family: Montserrat, serif;
}
.dropdown-menu.show{
	transform: translate3d(0px, 30px, 0px)!important;

}
.dropdown-menu{
	min-width: 0;
}
.dropdown-item{
	padding: .25rem 0.4rem;

}
.btn-outline-dark:hover{
	color: #58595b ;
	background-color: white;
}
.btn-outline-dark:focus {
	color:#343a40!important;
	background-color: #fff!important ;
	box-shadow: 0 0 0 0!important ;
}
.btn-outline-dark:active {
	color:#343a40!important;
	background-color: #fff!important ;
}

/* Page 1 */

#container{
	position: fixed;
	bottom: 240px;
	left: 400px;
}

#container a{
	font-size: 35px;
	text-decoration: none;
	color: white;
}

#hay{
	cursor: pointer;
	display: inline-block;
}

.hay{
	background-color: white;
	height: 4px;
	width: 0px;
	visibility: hidden;
	transition: width 0.7s, visibility 0.5s;
	margin-top: 15px;
}

#hay:hover .hay{
	width: 128px;
	visibility: visible;
}



#rus{
	cursor: pointer;
	display: inline-block;
	margin-left: 110px;
}

.rus{
	background-color: white;
	height: 4px;
	width: 0px;
	visibility: hidden;
	transition: width 0.7s, visibility 0.5s;
	margin-top: 15px;
}

#rus:hover .rus{
	width: 150px;
	visibility: visible;
}



#eng{
	cursor: pointer;
	display: inline-block;
	margin-left: 110px;
}

.eng{
	background-color: white;
	height: 4px;
	width: 0px;
	visibility: hidden;
	transition: width 0.7s, visibility 0.5s;
	margin-top: 15px;
}

#eng:hover .eng{
	width: 125px;
	visibility: visible;
}
